<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
      <add key="urls" value="https://www.youtube.com/watch?v=AIVob9efN8g&amp;pp=ygUZb20gbmFtYWggc2hpdmF5YSBldGVybml0eQ%3D%3D,https://www.youtube.com/watch?v=czDb6QeldxM&amp;pp=ygU4T20gTmFtYWggU2hpdmF5YSBEdW4gSEFSIEhBUiBCb2xlIE5hbWFoIFNoaXZheWEgRXRlcm5pdHk%3D,https://www.youtube.com/watch?v=sqdaH2OHiFs&amp;pp=ygUxU2hpdiBNYW50cmEgZm9yIFJlbGF4IE1pbmQgfCBPTSBDaGFudGluZyBFdGVybml0eQ%3D%3D,https://www.youtube.com/watch?v=xfDws7fPDHY&amp;pp=ygVJR1RBIDUgU3VibWFyaW5lIE1pc3Npb24sIEhlbGljb3B0ZXIgTWlzc2lvbiwgVW5kZXIgd2F0ZXIgU3VibWFyaW5lIEdUQSBWSQ%3D%3D,https://www.youtube.com/watch?v=141hDx54vKw&amp;pp=ygVfR1RBIDYgfCBDaG9wcGVyIEhlbGljb3B0ZXIgU2t5ZGl2ZSB3aXRoIHBhcmFjaHV0ZSB8IEFpciBCYWxsb29uIFNob290IGRvd24gfCBwb2xpY2UgQ2hhc2UgR1RBIDU%3D" />
      <add key="videowatchTime" value="10000"/>
      <add key="headless" value="false"/>
      
    </appSettings>
</configuration>